<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pedidos</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="index.js" defer></script>
</head>
<body>
    <h1>Pedidos</h1>
    <a href="/order-new" class="newOrderButton">Nuevo Pedido</a>
    <header id = "tabs-container">
        <ul id = "tabs">
            <button data-id = "draftOrders" class = "selectedButtonOption buttonOption">Borradores</button>
            <button data-id = "requestedOrders" class = "buttonOption">Solicitados</button>
            <button data-id = "completeOrders" class = "buttonOption">Completados</button>
        </ul>
    </header>
    <div>
        <div class = "draftOrders" id ="draftOrders">
            <div class = "background">
                <h1>Borradores</h1>
                <table class = "tableStyle">
                    <thead class = "tableHeadStyle">
                        <td>Pedido#</td>
                        <td>Cliente</td>
                        <td>Producto</td>
                        <td></td>
                        <td>Fecha Borrador</td>
                    </thead>

                    <div class = "tableTrStyle">
                        <tbody>
                            <% if(orders) { %>
                                <% for(let i=0; i<orders.length; i++) {%>
                                    <%if (orders[i].state === 1) { %>
                                    <tr>
                                        <td><%= orders[i].id %></td>
                                        <td><%= orders[i].Clientname %></td>
                                        <td><%= orders[i].amount %></td>
                                        <td><%= orders[i].date %> </td>
                                        <td><a href="/order-edit/<%= orders[i].id %>">Ver</a></td>
                                    </tr>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </tbody>
                    </div>
                </table>
            </div>
        </div>
        
        <div id = "requestedOrders" class = "hidden">
            <div class = "background">
                <h1>Solicitados</h1>

                <table class = "tableStyle">
                    <thead class = "tableHeadStyle">
                        <td>Pedido#</td>
                        <td>Cliente</td>
                        <td>Producto</td>
                        <td>Fecha Solicitado</td>
                        <td></td>
                    </thead>

                    <div class = "tableTrStyle">
                        <tbody>
                        <% for(let i=0; i<orders.length; i++) {%>
                            <%if (orders[i].state === 2) { %>
                                <tr>
                                    <td><%= orders[i].id %></td>
                                    <td><%= orders[i].Clientname %></td>
                                    <td><%= orders[i].amount %></td>
                                    <td><%= orders[i].date %> </td>
                                    <td><a href="/order-request-show/<%= orders[i].id %>">Ver</a></td>
                                </tr>
                            <% } %>
                        <% } %>
                        </tbody>   
                    </div>
                </table>
            </div>
        </div>
        
        
        <div id = "completeOrders" class = "hidden">
            <div class = "background">
                <h1>Completados</h1>
        
                <table class = "tableStyle">
                    <thead class = "tableHeadStyle">
                        <td>Pedido#</td>
                        <td>Cliente</td>
                        <td>Producto</td>
                        <td>Fecha Completado</td>
                        <td></td>
                    </thead>

                    <div class = "tableTrStyle">
                        <tbody>
                            <% for(let i=0; i<orders.length; i++) {%>
                                <%if (orders[i].state === 3) { %>
                                    <tr>
                                        <td><%= orders[i].id %></td>
                                        <td><%= orders[i].Clientname %></td>
                                        <td><%= orders[i].amount %></td>
                                        <td><%= orders[i].date %> </td>
                                        <td><a href="/order-request-show/<%= orders[i].id %>">Ver</a></td>
                                    </tr>
                                <% } %>
                            <% } %>
                        </tbody>                         
                    </div>
                </table>
            </div>
        </div>
    </div>

    
</body>
</html>