<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pedidos</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="newOrder.js" defer></script>
</head>
<body>
    <h1>Nuevo Pedido</h1>
    <div class="newOrderButtons">

    <form action="/order-save" method="POST" onsubmit="return validateSave()">
        <button>Guardar</button>
    </form>
    <form action="/send-to-requested" method="POST" onsubmit="return validateSave()">
        <button>Enviar</button>
    </form>
    </div>
    <form action="/product-add" method="POST" id="formProducts">
        <div>
            <span><strong>Cliente</strong></span>
            <input type="text" placeholder="Nombre del cliente" id="clientName" name = "clientName"value="<%= order.Clientname %>" required>
                <div>
                    <span><strong>Estado:</strong><span id="status">Borrador</span></span>
                </div>
                <table class="productsTable">
                    <tbody class="products">
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th class="options"></th>
                    </tr>
                    <% if(order) { %>
                        <% for(let i=0; i<order.rows.length; i++) {%>
                        <tr>
                            <td> <label><%= order.rows[i].nameOfProduct %></label> </td>
                            <td> <label><%= order.rows[i].quantity %></label> </td>
                            <td> <a href="/product-remove/<%= order.rows[i].id %>"> Eliminar </a> </td>
                        </tr>
                        <% } %>
				    <% } %>
                    <tr class="lastRow">
                            <td >
                                <select  name = "productName" form="formProducts" >
                                        <% for( const product of productsNames ) { %>
                                            <option value = "<%= product %>"><%= product %></option>
                                        <% } %>
                                </select>                            
                            </td>
                            <td ><input type="number" id="amountField" name = "quantity" min="1" required></td>
                            <td><button class="addButton">Agregar</button></td>                           
                    </tr>
                    </tbody>
                </table>
                <p>Cantidad de productos: <%= order.amount %></p>
            </div>
        </form>
    </body>
</html>