<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalles Pedido</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <div class = "background">
        <h1>Pedido # <%= order.id %></h1>
        <p>Cliente: <%= order.Clientname %></p>
        <p>Estado: Solicitado(<%= order.date %>)</p>
        <table class = "tableStyle">
            <thead class = "tableHeadStyle">
                <td>Producto</td>
                <td>Cantidad</td>
            </thead>
            <div class = "tableTrStyle">
            <tbody>
                <% for(let i=0; i<order.rows.length; i++) {%>
                    <tr>
                        <td> <label><%= order.rows[i].nameOfProduct %></label> </td>
                        <td> <label><%= order.rows[i].quantity %></label> </td>
                    </tr>
                 <% } %>
            </tbody>
        </table>       
    </div>
</body>
</html>