.background {
    color: #304270;
    background-color: #DDD4BC;
}

.right {
    float: right;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.tableStyle {
    border-collapse: collapse;
    width: 100%;
}

.tableStyle,
th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
    color: #304270;
}

.tableHeadStyle {
    background-color: #304270;
    color: #DDD4BC;
}

.hidden {
    display: none;
}

#tabs>li {
    display: inline-block;
    border-style: solid;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    padding: 5px;
}

#tabs>li:hover {
    background-color: antiquewhite;
}

.selected {
    background-color: #49ffe9;
}

.buttonOption {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

.buttonOption:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}

.buttonOption:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

.selectedButtonOption {
    border-top-color: #28597a;
    background: #28597a;
}

.newOrderButtons {
    margin: 5vh;
    float: right;
}

.newOrderButtons button {
    border-top: 1px solid #5e6284;
    background: #5e6284;
    background: -webkit-gradient(linear, left top, left bottom, from(#42476a), to(#5e6284));
    background: -webkit-linear-gradient(top, #42476a, #5e6284);
    background: -moz-linear-gradient(top, #42476a, #5e6284);
    background: -ms-linear-gradient(top, #42476a, #5e6284);
    background: -o-linear-gradient(top, #42476a, #5e6284);
    padding: 7.5px 15px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: #ffffff;
    font-size: 16px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

.newOrderButtons button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #bab1ba;
}

.productsTable button {
    border-top: 1px solid #4b8058;
    background: #418749;
    background: -webkit-gradient(linear, left top, left bottom, from(#446942), to(#418749));
    background: -webkit-linear-gradient(top, #446942, #418749);
    background: -moz-linear-gradient(top, #446942, #418749);
    background: -ms-linear-gradient(top, #446942, #418749);
    background: -o-linear-gradient(top, #446942, #418749);
    padding: 7.5px 15px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: #ffffff;
    font-size: 16px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

.productsTable button:hover {
    border-top-color: #1b5e1c;
    background: #1b5e1c;
    color: #dce1e3;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #4CAF50;
    color: white;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #cecdcd;
}
.newOrderButton{
    background-color: #464F70;  
    border-radius: 5px;
    color: white;
    padding: .5em;
    text-decoration: none;
    margin-bottom: 5%;
}
.newOrderButton:hover {
    background-color: #464F70;
    color: White;
  }